<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.votetool.dao.CandidateDOMapper" >
  <resultMap id="BaseResultMap" type="com.shu.votetool.model.entity.CandidateDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="candidate_name" property="candidateName" jdbcType="VARCHAR" />
    <result column="vote_id" property="voteId" jdbcType="INTEGER" />
    <result column="agree" property="agree" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, candidate_name, vote_id, agree
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shu.votetool.model.entity.CandidateDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from candidate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from candidate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from candidate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shu.votetool.model.entity.CandidateDOExample" >
    delete from candidate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shu.votetool.model.entity.CandidateDO" >
    insert into candidate (id, candidate_name, vote_id, 
      agree)
    values (#{id,jdbcType=INTEGER}, #{candidateName,jdbcType=VARCHAR}, #{voteId,jdbcType=INTEGER}, 
      #{agree,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.votetool.model.entity.CandidateDO" >
    insert into candidate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="candidateName != null" >
        candidate_name,
      </if>
      <if test="voteId != null" >
        vote_id,
      </if>
      <if test="agree != null" >
        agree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="candidateName != null" >
        #{candidateName,jdbcType=VARCHAR},
      </if>
      <if test="voteId != null" >
        #{voteId,jdbcType=INTEGER},
      </if>
      <if test="agree != null" >
        #{agree,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shu.votetool.model.entity.CandidateDOExample" resultType="java.lang.Integer" >
    select count(*) from candidate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update candidate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.candidateName != null" >
        candidate_name = #{record.candidateName,jdbcType=VARCHAR},
      </if>
      <if test="record.voteId != null" >
        vote_id = #{record.voteId,jdbcType=INTEGER},
      </if>
      <if test="record.agree != null" >
        agree = #{record.agree,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update candidate
    set id = #{record.id,jdbcType=INTEGER},
      candidate_name = #{record.candidateName,jdbcType=VARCHAR},
      vote_id = #{record.voteId,jdbcType=INTEGER},
      agree = #{record.agree,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.votetool.model.entity.CandidateDO" >
    update candidate
    <set >
      <if test="candidateName != null" >
        candidate_name = #{candidateName,jdbcType=VARCHAR},
      </if>
      <if test="voteId != null" >
        vote_id = #{voteId,jdbcType=INTEGER},
      </if>
      <if test="agree != null" >
        agree = #{agree,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.votetool.model.entity.CandidateDO" >
    update candidate
    set candidate_name = #{candidateName,jdbcType=VARCHAR},
      vote_id = #{voteId,jdbcType=INTEGER},
      agree = #{agree,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>